.text {
    font-size: 22px;
    word-wrap: normal;
    text-align: left;
    padding-bottom: 1rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
::marker {
    color: #D3D3D3;
}
li {
    color: #D3D3D3;
    text-align: center;
    text-align: left;
}
hr {
    border: 1px solid white;
    opacity: 0.1;
}
.subTitle {
    text-align: left;
    font-size: 2rem;
    margin: -1px;
}
.aboutTitle{
    font-size: 2.8rem;
    text-align: left;
    color: white;
}
.aboutList {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: 20px;
}