h2 {
    font-size: 3.1rem;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
span {
    text-align: center;
    color: white;
}
.paragraph {
    font-size: 22px;
    word-wrap: normal;
    text-align: left;
    padding-bottom: 1rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    color: white;
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.introTitle {
    text-align: left;
}
.projectBoxes {
    color: white;
    border-radius: 10px;
    outline: auto;
    text-align: left;
    padding-left: 15px;
    padding-bottom: 10px;
    transition: 0.3s;
}
.projectBoxes:hover{
    transition: 0.3s;
    box-shadow: 0px 5px 20px rgb(135,206,235);
}
.imageDimensions {
    height: 5rem;
}
.boxDate {
    color: rgb(135,206,235);
    text-align: left;

    padding-top: 1rem;
}
.boxHeader{
    color: white;

    font-size: 22px;
}
.boxParagraph {

    text-align: left;
    font-size: 20px;
    padding-right: 1rem;
}
.boxParagraph.a{
    font-size: 19px;
}
.boxButton {
    color: rgb(135,206,235);
    outline-color: rgb(135,206,235);
}
.hightlightBox{
    outline: auto;
    border-radius: 15px;
    margin: 5px;
    transition: 0.3s;
}
.hightlightBox:hover{
    transition: 0.3s;
    box-shadow: 0px 5px 20px rgb(135,206,235);
}
.highlightParagraph {
    text-align:left;
    font-size: 25px;
    color: white;
}
.highlightImage {
    height: 45px;
    width: 45px;
    padding: 10px;
}
.homeTime{
    font-size: 17px;
    margin-bottom: -5px;
    padding-top: 5px;
    text-align: left;
}
@media only screen and (max-width: 600px){
    .highlightParagraph {
        text-align:left;
        font-size: 1.4em;
        color: white;
    }
    .highlightImage {
        height: 2.1875em;
        width: 2.1875em;
        padding: 5px;
    }
    .homeTime{
        font-size: 0px;
        text-align: left;
        padding-bottom: 5px;
    }
}
.homeResume {
    font-size: 25px;
    color: white;
}