.navbar {
  width: 100%;
  height: 100px;
}

.links {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 1vw;
  font-size: 22px;
  outline: solid 1px #303030;
  border-radius: 10px;
  padding: 10px;
  font-family: "Inter",-apple-system,BlinkMacSystemFont,"Helvetica Neue",Arial,sans-serif;
  transition: 0.3s;
}

.toggleButton {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.toggleButton svg {
  font-size: 50px;
}
.toggleButton button {
  margin-right: 20px;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

#open {
  height: 100vh;
}

#open .links {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 100px;
}

#open a {
  width: 60%;
  text-align: left;
}


@media only screen and (max-width: 600px) {
  .toggleButton {
    display: flex;
  }
  #close a {
    display: none;
  }
  .navbar a {
    padding-left: 30px;
  }
}

@media only screen and (min-width: 600px) {
  .toggleButton {
    display: none;
  }

  .hiddenLinks {
    display: none;
  }

  #open {
    height: 100px;
  }

  #open .links {
    flex-direction: row;
  }
}

.navBox{
  outline: solid 1px #303030;
  border-radius: 10px;
  margin-top: -2px;
  margin-right: 1rem;
  }

  .navBox:hover{
  transition: 0.3s;
  background-color: rgba(240, 240, 240, 0.2);

  }
.navBoxActive{
  background-color:rgba(240, 240, 240, 0.2);
  border-radius: 10px;
  margin-top: -2px;
  margin-right: 1rem;
  outline: solid 1px #303030;
}
