.title{
    font-size: 3rem;
    text-align: center;
}
.paragraphs{
    line-height: 1.625;
    padding-top: 1rem;
    padding-bottom: 2rem;
    font-size: 25px;

}
.subTitle{
    text-align: left;
}
.images{
    height: 100%;
    width: 100%;
}