.textfont {
    font-size: 20px;
    text-align: left;
}
.texttitle {
    font-size: 30px;
    text-align: left;
}
.textproof {
    margin: 2rem;
}
.picture {
    height: 50%;
    width: 50%;
    margin: 1rem;
}