.each-slide-effect{
  height: 80%;
  object-fit:cover;
  width: 80%;
  transition: 0.3s;
}
.each-slide-effect:hover{
  transition: 0.3s;
  transform: scale(1.01);
  cursor: pointer;
}


.container {
  width: 70%;
  margin: 0 auto;

  list-style: none;
  padding: 0;
}

.slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 100vh;
}

.slide span {
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  background: rgba(141, 174, 224, 0.5);
  text-align: center;
}
